*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
    font-size: 60px;
}
.miao-consiglia{
    height: 80px;
    background-color: #352a3afc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
main{
margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cerca{
    width: 500px;
    height: 100px;
}
::placeholder{
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}